*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}
.container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, #3a0d5e, transparent);
    display: flex;
    align-items: center;
    justify-content: center;
}
#test
{
    /* width: 500px; */
    min-height: 200px;
    background-color: #3a0d5e;
    color: #fff;
    padding: 4rem;
    border-radius: 15px;
}
input#listitems {
    padding: 10px 30px;
    width: 100%;
    margin: 20px 0;
}
button
{
    background-color: #fe5946;
    color: #fff;
    cursor: pointer;
    padding: 10px 3rem;
    border-radius: 20px;
    font-size: 18px;
    text-align: center;
    border: 0;
}
.text li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 26px;
    text-transform: capitalize;
}